.col-1-3 {
    display: block;
    float: left;
    width: 29%;
    margin-left: 2%;
    margin-right: 2%;
}

.col-1-2 {
    display: block;
    float: left;
    width: 46%;
    margin-left: 2%;
    margin-right: 2%;
}

.col-1-1 {
    display: block;
    float: left;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
}
