.stripped-list li:nth-child(odd) {
    background-color: rgba(129, 127, 127, 0.13);
}

.center {
    text-align: center;
}

.table {
    border: 1px solid #000;
}

.table td {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.table caption {
    font-size: 1.25em;
    font-weight: bold;
}

.stripped-table tbody tr:nth-child(odd) {
    background-color: rgba(129, 127, 127, 0.13);
}
